@font-face {
	font-family: "Google Sans Regular";
	src: url("../fonts/GoogleSans-Regular.ttf");
}
@font-face {
	font-family: "Google Sans Medium";
	src: url("../fonts/GoogleSans-Medium.ttf");
}
@font-face {
	font-family: "Google Sans Bold";
	src: url("../fonts/GoogleSans-Bold.ttf");
}
@font-face {
	font-family: "Roboto Regular";
	src: url("../fonts/Roboto-Regular.ttf");
}
/*@font-face {
	font-family: "Roboto Medium";
	src: url("../fonts/Roboto-Medium.ttf");
}
@font-face {
	font-family: "Roboto Bold";
	src: url("../fonts/Roboto-Bold.ttf");
}*/
* {
	padding: 0;
	margin: 0;
}
body, html {
    height: 100%;
}
#background { 
    background-image: url("../background_mobile.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
#container {
	display: flex;
	justify-content: flex-end;
	position: absolute;
    margin: auto;
	top:0;
    bottom: 0;
    left: 0;
    right: 0;
	overflow-x: hidden;
	background-color: white;
	border-radius: 8px;
    width: 90%;
    height: 90%;
    min-height: 500px;
}
#idcard_background {
	position: absolute;
	background: url("../icard_background.svg") no-repeat right top;
    width: 90%;
    height: 601px;
}
#phone_idcard {
	z-index: 1;
	position: absolute;
	margin-left: 22px;
	margin-top: -44px;
	float: right;
	background: url("../phone_idcard.svg") no-repeat right top;
    width: 54%;
    height: 620px;
}
@-webkit-keyframes swinging{
    0%{-webkit-transform: rotate(1deg);}
    50%{-webkit-transform: rotate(-1deg)}
    100%{-webkit-transform: rotate(1deg);}
}
@keyframes swinging{
    0%{transform: rotate(1deg);}
    50%{transform: rotate(-1deg)}
    100%{transform: rotate(1deg);}
}
.swing_image{
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-animation: swinging 5s ease-in-out forwards infinite;
    animation: swinging 5s ease-in-out forwards infinite;
}
#main_content {
	position: absolute;
	display: flex;
	flex-direction: column;
	-ms-transform-origin: top left;
  	-webkit-transform-origin: top left;
  	transform-origin: top left;
  	-webkit-transition: all 500ms ease-in-out !important;
  	transition: all 500ms ease-in-out !important;
	width: 100%;
	height: 100%;
}
#header {
	z-index: 1;
	display: flex;
	width: 100%;
	height: 200px;
}
#header_content {
	display: flex;
	margin-top: 80px;
	padding-left: 26px;
	padding-right: 88px;
	justify-content: space-between;
	align-items: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}
#header_content_logo {
	font-family: "Google Sans Medium";
	font-size: 1.5em;
	color: #ff3369;
}
.breakline {
	display: block;
}
#header_content_links {
	display: none;
	margin-top: 14px;
}
#header_content_links span{
	margin-right: 20px;
	font-family: "Roboto Regular";
	font-size: 0.75em;
}
#header_content_links a {
	text-decoration: none;
	color: #ffffff;
	word-spacing: 1px;
}
.button {
	font-family: "Google Sans Medium";
	font-size: 0.77em;
	background-color: #ff3369;
    border:solid 2px #ff3369;
	color: #ffffff;
    padding: 6px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	border-radius: 3.5px;
}
button:focus {
	outline: none;
}
button:hover {
	cursor: pointer;
}
#login {
	display: flex;
	padding-left: 0px;
	font-family: "Google Sans Medium";
    font-size: 1.1em;
    color: #000000;
	height: inherit;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
}
#student_login {
	z-index: 1;
	width: 80%;
}
#my-signin2 {
	margin: 14px auto;
}
.divider {
	margin-top: 24px;
	margin-bottom: 24px;
	background-color: #a5bbce;
	opacity: 0.5;
	width: 80%;
	height: 1px;
}
#faculty_login {
	z-index: 1;
	width: 80%;
}
input {
	margin: 14px auto;
    font-family: "Google Sans Medium";
    font-size: 0.9em;
	padding-left: 20px;
	padding-right: 20px;
	color: #424242;
  	border:solid 2px #ff3369;
  	border-radius: 100px;
  	width: 100%;
	height: 34px;
}
input:focus {
	outline: none;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	font-size: 0.9em;
    color: #a5bbce;
    opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
	font-size: 0.9em;
    color: #a5bbce;
}
::-ms-input-placeholder { /* Microsoft Edge */
	font-size: 0.9em;
    color: #a5bbce;
}
#login_button {
	position: absolute;
	margin: 14px auto;
	font-family: "Google Sans Medium";
	font-size: 0.85em;
	background-color: #ff3369;
  	border:none;
	color: #ffffff;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	border-radius: 100px;
	width: 98px;
	height: 38px;
}
#faculty_login div div {
	display: flex;
	justify-content: flex-end;
}
#faculty_login div:nth-child(1) {
	margin-top: 14px;
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	#container {
	    width: 88%;
	    height: 88%;
	}
	#header_content {
		padding-left: 50px;
	}
	#header_content_logo {
		font-size: 2.0em;
	}
	.breakline {
		display: inline-block;
	}
	#login {
		padding-left: 0px;
		align-items: center;
	    font-size: 1.5em;
		width: 100%;
	}
	#student_login {
		width:70%;
	}
	#google_sign_in {
		margin-top: 34px;
	}
	.divider {
		width: 70%;
	}
	#faculty_login {
		width: 70%;
	}
	input {
		margin: 24px auto;
		height: 48px;
	}
	#faculty_login div:nth-child(1) {
		margin-top: 34px;
	}
	#login_button {
		margin-top: 24px;
		width: 134px;
		height: 52px;
	}
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	#container {
		overflow: hidden;
	}
	#background { 
	    background-image: url("../background.svg");
	}
	#container {
	    width: 901px;
	    height: 601px;
	}
	#idcard_background {
	    width: 75%;
	}
	#phone_idcard {
		margin-left: -34px;
		margin-top: -16px;
	    width: 279px;
	    height: 620px;
	}
	@-webkit-keyframes swinging{
	    0%{-webkit-transform: rotate(3deg);}
	    50%{-webkit-transform: rotate(-3deg)}
	    100%{-webkit-transform: rotate(3deg);}
	}
	@keyframes swinging{
	    0%{transform: rotate(3deg);}
	    50%{transform: rotate(-3deg)}
	    100%{transform: rotate(3deg);}
	}
	#header {
		height: 112px;
	}
	#header_content {
		margin-top: 0px;
		padding-left: 94px;
		padding-right: 88px;
	}
	#header_content_logo {
		font-size: 1.125em;
	}
	.breakline {
		display: inline-block;
	}
	#header_content_links {
		display: block;
	}
	#login {
		padding-left: 94px;
	    font-size: 0.9em;
	    align-items: flex-start;
		width: 44%;
	}
	#student_login {
		width: 68%;
	}
	#google_sign_in {
		margin: 14px auto;
	}
	.divider {
		width: 68%;
	}
	#faculty_login {
		width: 68%;
	}
	input {
		margin: 14px auto;
		height: 34px;
	}
	#login_button {
		margin: 14px auto;
		width: 98px;
		height: 38px;
	}
	#faculty_login div:nth-child(1) {
		margin-top: 14px;
	}
}